@model IEnumerable<Amigo.Models.travel>
    @{
        ViewBag.Title = "Post";
    }

    <h2>Post a trip</h2>
    

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="origin">Origin :</label>
                <input class="form-control" id="origin">
            </div>
            <div class="col-md-6">
                <label for="origin">Destination :</label>
                <input class="form-control" id="destination">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="date">Date of departure :</label>
                <input class="form-control" id="date">
            </div>
            <div class="col-md-6">
                <label for="hour">Time of departure :</label>
                <input class="form-control" id="hour">
            </div>
        </div>
        <div class="row">
            <div class="col-centered">
                <label for="contribution">Contribution requested to a passenger :</label>
                <input class="form-control" id="contribution">
                <label>$</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>


