
@{
    ViewBag.Title = "TripPosted";
}

<h2>Your trip has been succesfully posted</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        if (ViewBag.Message != null)
        {
            <div class="row">
                <div class="col-md-10">
                    @ViewBag.Message
                </div>
            </div>
        }
}


