@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Web application is ofr everyone that want to travel from a point A to a point B. It creates links between a driver and several passengers in order to go on trip to a same location.</p>
<p>With Amigo we offer the best services! so don't think twice and book your trip here!</p>