@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to AMIGO !</h1>
    <p class="lead">Amigo makes traveling easier everyday</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Look for your trip</h2>
        
        <a href="@Url.Action("Index","Search")">Book a trip</a>
    </div>
    <div class="col-md-3">
        <h2>Post your trip</h2>
        <p><a class="btn btn-default" href="@Url.Action("Index","Post")">Post a trip</a></p>
    </div>
    <div class="col-md-3">
        <h2>Sign in</h2>

        <p><a class="btn btn-default" >Connexion</a></p>
    </div>
    <div class="col-md-3">
        <h2>Create your account</h2>
        
        <p><a class="btn btn-default" >Sign up</a></p>
    </div>
</div>